CONFIG_NOHIGHMEM=y
# CONFIG_HIGHMEM4G is not set
# CONFIG_HIGHMEM64G is not set
CONFIG_UNWINDER_GUESS=y
# CONFIG_UNWINDER_FRAME_POINTER is not set
# CONFIG_PERF_EVENTS is not set
# CONFIG_HAVE_PERF_EVENTS is not set
# Load kernel at 64KB instead of 1MB to save ~120KB RAM
CONFIG_PHYSICAL_START=0x10000
CONFIG_PHYSICAL_ALIGN=0x10000
