# SPDX-License-Identifier: GPL-2.0-only
# --- 2025-12-21 22:15 ---
# Minimized - only essential fs configs

menu "File systems"

config DCACHE_WORD_ACCESS
       bool

config VALIDATE_FS_PARSER
	bool "Validate filesystem parameter description"
	default n

config FS_IOMAP
	bool

if BLOCK

config FS_MBCACHE
	tristate
	default y if EXT2_FS=y && EXT2_FS_XATTR
	default y if EXT4_FS=y
	default m if EXT2_FS_XATTR || EXT4_FS

endif # BLOCK

config FS_POSIX_ACL
	def_bool n

config EXPORTFS
	tristate

config FILE_LOCKING
	bool "Enable POSIX file locking API" if EXPERT
	default y

endmenu
