# SPDX-License-Identifier: GPL-2.0-only
# Minimal clocksource configuration - only i8253 support
menu "Clock Source drivers"
	depends on GENERIC_CLOCKEVENTS

config TIMER_PROBE
	bool

config CLKSRC_I8253
	bool

config CLKEVT_I8253
	bool

config I8253_LOCK
	bool

config CLKBLD_I8253
	def_bool y if CLKSRC_I8253 || CLKEVT_I8253 || I8253_LOCK

endmenu
