*.o
*.o.cmd
*.a
*.a.cmd

.config
.config.old
.missing-syscalls.d
.version
.vmlinux.cmd
.vmlinux.export.c
.vmlinux.objs
System.map
arch/i386/
arch/x86/boot/.bzImage.cmd
arch/x86/boot/.setup.bin.cmd
arch/x86/boot/.setup.elf.cmd
arch/x86/boot/.vmlinux.bin.cmd
arch/x86/boot/.voffset.h.cmd
arch/x86/boot/.zoffset.h.cmd
arch/x86/boot/bzImage
arch/x86/boot/compressed/.mkpiggy.cmd
arch/x86/boot/compressed/.piggy.S.cmd
arch/x86/boot/compressed/.vmlinux.bin.cmd
arch/x86/boot/compressed/.vmlinux.bin.xz.cmd
arch/x86/boot/compressed/.vmlinux.cmd
arch/x86/boot/compressed/.vmlinux.lds.cmd
arch/x86/boot/compressed/mkpiggy
arch/x86/boot/compressed/piggy.S
arch/x86/boot/compressed/vmlinux
arch/x86/boot/compressed/vmlinux.bin
arch/x86/boot/compressed/vmlinux.bin.xz
arch/x86/boot/compressed/vmlinux.lds
arch/x86/boot/setup.bin
arch/x86/boot/setup.elf
arch/x86/boot/tools/.build.cmd
arch/x86/boot/tools/build
arch/x86/boot/vmlinux.bin
arch/x86/boot/voffset.h
arch/x86/boot/zoffset.h
arch/x86/entry/vdso/.vdso-image-32.c.cmd
arch/x86/entry/vdso/.vdso2c.cmd
arch/x86/entry/vdso/.vdso32.so.cmd
arch/x86/entry/vdso/.vdso32.so.dbg.cmd
arch/x86/entry/vdso/vdso-image-32.c
arch/x86/entry/vdso/vdso2c
arch/x86/entry/vdso/vdso32.so
arch/x86/entry/vdso/vdso32.so.dbg
arch/x86/entry/vdso/vdso32/.vdso32.lds.cmd
arch/x86/entry/vdso/vdso32/vdso32.lds
arch/x86/include/generated/
arch/x86/kernel/.asm-offsets.s.cmd
arch/x86/kernel/.vmlinux.lds.cmd
arch/x86/kernel/asm-offsets.s
arch/x86/kernel/vmlinux.lds
arch/x86/lib/inat-tables.c
arch/x86/realmode/rm/.pasyms.h.cmd
arch/x86/realmode/rm/.realmode.bin.cmd
arch/x86/realmode/rm/.realmode.elf.cmd
arch/x86/realmode/rm/.realmode.lds.cmd
arch/x86/realmode/rm/.realmode.relocs.cmd
arch/x86/realmode/rm/pasyms.h
arch/x86/realmode/rm/realmode.bin
arch/x86/realmode/rm/realmode.elf
arch/x86/realmode/rm/realmode.lds
arch/x86/realmode/rm/realmode.relocs
arch/x86/tools/.relocs.cmd
arch/x86/tools/relocs
drivers/tty/vt/.conmakehash.cmd
drivers/tty/vt/conmakehash
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
include/config/
include/generated/
kernel/.bounds.s.cmd
kernel/bounds.s
modules.builtin
modules.builtin.modinfo
scripts/.sorttable.cmd
scripts/basic/.fixdep.cmd
scripts/basic/fixdep
scripts/kconfig/.conf.cmd
scripts/kconfig/.lexer.lex.c.cmd
scripts/kconfig/.parser.tab.h.cmd
scripts/kconfig/conf
scripts/kconfig/lexer.lex.c
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
scripts/mod/.devicetable-offsets.s.cmd
scripts/mod/.elfconfig.h.cmd
scripts/mod/.mk_elfconfig.cmd
scripts/mod/.modpost.cmd
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/sorttable
usr/.gen_init_cpio.cmd
usr/.initramfs_data.cpio.cmd
usr/.initramfs_data.cpio.d
usr/.initramfs_inc_data.cmd
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/initramfs_inc_data
vmlinux
vmlinux.symvers
