# SPDX-License-Identifier: GPL-2.0
# --- 2025-12-21 21:58 ---
# Minimized - only BLAKE2S is used

menu "Crypto library routines"

config CRYPTO_LIB_AES
	tristate

config CRYPTO_ARCH_HAVE_LIB_BLAKE2S
	bool

config CRYPTO_LIB_BLAKE2S_GENERIC
	def_bool !CRYPTO_ARCH_HAVE_LIB_BLAKE2S

config CRYPTO_LIB_POLY1305_RSIZE
	int
	default 11 if X86_64
	default 1

config CRYPTO_LIB_SHA256
	tristate

endmenu
