# SPDX-License-Identifier: GPL-2.0
# Minimal x86 debug configuration

config TRACE_IRQFLAGS_NMI_SUPPORT
	def_bool y

config EARLY_PRINTK_USB
	bool

config X86_VERBOSE_BOOTUP
	bool "Enable verbose x86 bootup info messages"
	default y

config EARLY_PRINTK
	bool "Early printk" if EXPERT
	default y

config HAVE_MMIOTRACE_SUPPORT
	def_bool y

choice
	prompt "IO delay type"
	default IO_DELAY_0X80

config IO_DELAY_0X80
	bool "port 0x80 based port-IO delay [recommended]"

config IO_DELAY_0XED
	bool "port 0xed based port-IO delay"

config IO_DELAY_UDELAY
	bool "udelay based port-IO delay"

config IO_DELAY_NONE
	bool "no port-IO delay"

endchoice

config DEBUG_ENTRY
	bool

config CPA_DEBUG
	bool
