# SPDX-License-Identifier: GPL-2.0-only
# --- 2025-12-21 21:55 ---
# Minimized - KFENCE is not enabled

config HAVE_ARCH_KFENCE
	bool

config KFENCE
	bool "KFENCE: low-overhead sampling-based memory safety error detector"
	depends on HAVE_ARCH_KFENCE && (SLAB || SLUB)
	default n
