# SPDX-License-Identifier: GPL-2.0-only
# --- 2025-12-21 21:45 ---
# Minimized lib/Kconfig.debug - only essential configs

menu "Kernel hacking"

config CONSOLE_LOGLEVEL_DEFAULT
	int "Default console loglevel (1-15)"
	range 1 15
	default "7"

config CONSOLE_LOGLEVEL_QUIET
	int "quiet console loglevel (1-15)"
	range 1 15
	default "4"

config MESSAGE_LOGLEVEL_DEFAULT
	int "Default message log level (1-7)"
	range 1 7
	default "4"

config DEBUG_KERNEL
	bool "Kernel debugging"

config DEBUG_MISC
	bool "Miscellaneous debug code"
	default DEBUG_KERNEL
	depends on DEBUG_KERNEL

config DEBUG_INFO
	bool

config DEBUG_INFO_NONE
	bool "Disable debug information"
	help
	  Do not build the kernel with debugging information.

config FRAME_WARN
	int "Warn for stack frames larger than"
	range 0 8192
	default 1024 if 64BIT
	default 1024 if !64BIT

config STRIP_ASM_SYMS
	bool "Strip assembler-generated symbols during link"
	default n

config READABLE_ASM
	bool "Generate readable assembler code"
	default n

config DEBUG_SECTION_MISMATCH
	bool "Enable full Section mismatch analysis"
	default y

config SECTION_MISMATCH_WARN_ONLY
	bool "Make section mismatch errors non-fatal"
	default y

config ARCH_WANT_FRAME_POINTERS
	bool

config FRAME_POINTER
	bool "Compile the kernel with frame pointers"
	depends on DEBUG_KERNEL && (M68K || UML || SUPERH) || ARCH_WANT_FRAME_POINTERS
	default y if DEBUG_KERNEL && ARCH_WANT_FRAME_POINTERS

config OBJTOOL
	bool

config STACK_VALIDATION
	bool "Compile-time stack metadata validation"
	depends on HAVE_OBJTOOL
	select OBJTOOL
	default n

config DEBUG_BUGVERBOSE
	bool "Verbose BUG() reporting (adds 70K)" if DEBUG_KERNEL && EXPERT
	depends on BUG && (GENERIC_BUG || HAVE_DEBUG_BUGVERBOSE)
	default y

source "lib/Kconfig.kgdb"
source "lib/Kconfig.ubsan"
source "lib/Kconfig.kcsan"

config HAVE_DEBUG_KMEMLEAK
	bool

config ARCH_HAS_DEBUG_VM_PGTABLE
	bool

config DEBUG_VM
	bool "Debug VM"
	depends on DEBUG_KERNEL
	default n

config ARCH_HAS_DEBUG_VIRTUAL
	bool

config DEBUG_VIRTUAL
	bool "Debug VM translations"
	depends on DEBUG_KERNEL && ARCH_HAS_DEBUG_VIRTUAL
	default n

config ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP
	bool

config HAVE_DEBUG_STACKOVERFLOW
	bool

config LOCK_DEBUGGING_SUPPORT
	bool

config DEBUG_SPINLOCK
	bool "Spinlock debugging: basic checks"
	depends on DEBUG_KERNEL && LOCK_DEBUGGING_SUPPORT
	default n

config DEBUG_MUTEXES
	bool "Mutex debugging: basic checks"
	depends on DEBUG_KERNEL && LOCK_DEBUGGING_SUPPORT
	default n

config DEBUG_RWSEMS
	bool "RW-sem debugging: basic checks"
	depends on DEBUG_KERNEL && LOCK_DEBUGGING_SUPPORT
	default n

source "mm/Kconfig.debug"
source "lib/Kconfig.kasan"
source "lib/Kconfig.kfence"
source "kernel/rcu/Kconfig.debug"

config PANIC_ON_OOPS
	bool "Panic on Oops"
	default n

config PANIC_ON_OOPS_VALUE
	int
	range 0 1
	default 0 if !PANIC_ON_OOPS
	default 1 if PANIC_ON_OOPS

config PANIC_TIMEOUT
	int "panic timeout"
	default 0

menu "$(SRCARCH) Debugging"
source "arch/$(SRCARCH)/Kconfig.debug"
endmenu

config ARCH_HAS_DEVMEM_IS_ALLOWED
	bool

config CC_HAS_SANCOV_TRACE_PC
	def_bool $(cc-option,-fsanitize-coverage=trace-pc)

config ARCH_USE_MEMTEST
	bool

config MEMTEST
	bool "Memtest"
	depends on ARCH_USE_MEMTEST
	default n

endmenu # Kernel hacking
