
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="elo"
CONFIG_BINFMT_ELF=y
CONFIG_TTY=y
CONFIG_INITRAMFS_COMPRESSION_NONE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BASE_SMALL=1
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_XZ=y
# CONFIG_RD_GZIP is not set
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
# CONFIG_RD_ZSTD is not set
# CONFIG_UNIX98_PTYS is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_LDISC_AUTOLOAD is not set
# CONFIG_CRC32 is not set
# CONFIG_XZ_DEC is not set
