# SPDX-License-Identifier: GPL-2.0-only
# Minimal security configuration

menu "Security options"

config SECURITY
	bool "Enable different security models"
	depends on SYSFS
	depends on MULTIUSER
	help
	  This allows you to choose different security modules.

config DEFAULT_SECURITY_DAC
	bool

choice
	prompt "Default security module"
	default DEFAULT_SECURITY_DAC

config DEFAULT_SECURITY_DAC
	bool "Unix Discretionary Access Controls"
	help
	  Use standard Unix DAC as default security model.

endchoice

config LSM
	string "Ordered list of enabled LSMs"
	default ""
	help
	  A comma-separated list of LSMs.

endmenu
