# SPDX-License-Identifier: GPL-2.0
# Minimal character device configuration

menu "Character devices"

source "drivers/tty/Kconfig"

config DEVMEM
	bool "/dev/mem virtual device support"
	default y
	help
	  Say Y here if you want to support the /dev/mem device.

config DEVKMEM
	bool "/dev/kmem virtual device support"
	default n
	help
	  Say Y here if you want to support the /dev/kmem device.

endmenu
